# Сгенерировано после terraform apply (без секретов). Обновите после следующего apply.
REGISTRY_ID=crpr1nbrl4jkl9erl1rd
REGISTRY_URL=cr.yandex/crpr1nbrl4jkl9erl1rd
POSTGRES_HOST=rc1a-7u696s7hkc14tl0q.mdb.yandexcloud.net
REDIS_HOST=rc1a-uaoh7tt2auqanlnd.mdb.yandexcloud.net
CLICKHOUSE_HOST=rc1a-pqhqh70oq1v9h41p.mdb.yandexcloud.net
CLICKHOUSE_USER=diplom_ch
VPC_ID=enpg649uv3rg4hr2qdcc
